/* Carrément Jeu Theme Boutique
v1.0 | 2024
License: none (public domain)
*/

/***********************************************
 * Section        : Typographie
 * Description    : Elements textuels
 ***********************************************/

.woocommerce-page h1 {
    position: relative;
    margin: 0px 0 30px 0;
    padding: 0 0 5px 90px;
    font-family: 'Baloo Bhaina 2', monospace;
    font-weight: 700;
    font-size: 28px;
    color: black;
    border-bottom: 4px solid var(--pink);
}
.woocommerce-page h1::before {
    content: "";
    position: absolute;
    width: 48px;
    height: 48px;
    z-index: 0;
    top: 0;
    left: 15px;
    transform: translateY(-25%) rotate(25deg);
    background-color: var(--lemon);
}

.theme-carrementnous .wp-block-heading {
    margin: 20px 0 20px 0;
    font-family: 'Baloo Bhaina 2', monospace;
    font-weight: 700;
    font-size: 24px;
    color: black;
}

.theme-carrementnous .woocommerce-result-count {
    font-size: 14px;
    color: var(--purple);
}

.theme-carrementnous .woocommerce .single-product .product .price {
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: var(--blue);
}

.theme-carrementnous .woocommerce-product-details__short-description {
    margin: 15px 0;
    font-size: 18px;
    line-height: 1.2;
}

.theme-carrementnous .woocommerce ul.products li.product .woocommerce-loop-product__title {
    font-family: 'Baloo Bhaina 2', monospace;
    font-size: 21px;
    color: black;
}

.theme-carrementnous .woocommerce ul.products li.product .price {
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 19px;
    color: var(--purple);
}

.theme-carrementnous .woocommerce ul.products li.product .price span {
    position: relative;
    z-index: 1;
}

.theme-carrementnous .woocommerce ul.products li.product .price::after {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0; left: 0;
    width: 80px;
    height: 15px;
    transform: translate(-5%,20%);
}

.theme-carrementnous .woocommerce .star-rating span {
    color: var(--lemon);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.theme-carrementnous .woocommerce .upsells.products h2,
.theme-carrementnous .woocommerce .related.products h2 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
    color: var(--purple);
}

.theme-carrementnous .woocommerce .upsells.products > h2:first-child {
    font-weight: 700;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--pink);
}

.theme-carrementnous .wc-block-cart-item__remove-link {
    color: var(--red) !important;
}

.theme-carrementnous .wc-block-components-product-name {
    font-family: 'Baloo Bhaina 2', monospace;
    font-weight: 700;
    color: var(--purple);
    text-decoration: none;
}

.theme-carrementnous .wc-block-components-product-price__value {
    color: var(--blue);
}
.theme-carrementnous .wc-block-cart-item__total .wc-block-components-product-price__value {
    color: black;
    font-weight: 700;
}

/***********************************************
 * Section        : Mise en page
 * Description    : Elements visuels
 ***********************************************/

.woocommerce-page .cj-single article {
    padding: 30px 10px;
}

.theme-carrementnous .woocommerce .product .images .flex-control-thumbs {
    margin-top: 15px;
}

.theme-carrementnous .woocommerce .product .images .flex-control-thumbs img {
    box-sizing: border-box;
    border: 2px solid transparent;
    transition: border-color 300ms ease-in;
}
.theme-carrementnous .woocommerce .product .images .flex-control-thumbs img.flex-active {
    border-color: var(--purple);
}

.theme-carrementnous .woocommerce ul.products li.product a img {
    border: 4px solid var(--gray);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.theme-carrementnous .woocommerce ul.products li.product a:hover .woocommerce-loop-product__title {
    color: var(--plum);
}

.theme-carrementnous .woocommerce ul.products li.product a:hover + a.add_to_cart_button.button {
    background-color: var(--yellow);
}

.theme-carrementnous .woocommerce ul.products li.product a:hover .price {
    color: rgba(0,0,0,0.85);
    font-weight: 700;
}
.theme-carrementnous .woocommerce ul.products li.product a:hover .price::after {
    background-color: var(--sand);
}

.theme-carrementnous .woocommerce ul.products li.product a:hover img {
    border-color: var(--plum);
}

.theme-carrementnous .woocommerce .related.products img,
.theme-carrementnous .woocommerce .upsells.products img {
    max-width: 200px;
}

.theme-carrementnous .woocommerce .related.products .price,
.theme-carrementnous .woocommerce .upsells.products .price {
    float: left;
    margin-right: 10px;
}

.theme-carrementnous .woocommerce .related.products a.button,
.theme-carrementnous .woocommerce .upsells.products a.button {
    margin-top: 0;
}

.theme-carrementnous .woocommerce .related.products ul.products li.product .woocommerce-loop-product__title,
.theme-carrementnous .woocommerce .upsells.products ul.products li.product .woocommerce-loop-product__title {
    font-size: 16px;
    font-weight: 400;
}

.theme-carrementnous .woocommerce .related.products {
    padding: 15px;
    background-color: var(--sakura);
}

.theme-carrementnous .is-large.wc-block-cart .wc-block-cart-items td {
    padding: 10px 0 10px 15px;
}

/***********************************************
 * Section        : Interactions
 * Description    : Elements interactifs
 ***********************************************/

.theme-carrementnous .wc-block-cart__submit-button {
    text-decoration: none;
}

.theme-carrementnous .wc-block-cart__submit-button,
.theme-carrementnous .woocommerce button.single_add_to_cart_button.button,
.theme-carrementnous a.add_to_cart_button.button,
.theme-carrementnous .wp-block-button__link {
    position: relative;
    font-family: 'Rubik', sans-serif;
    color: black;
    background-color: var(--pink);
    box-shadow: 1px 1px 2px black;
    transform: translate(0,0);
    transition: all 250ms linear;
}

.theme-carrementnous .wc-block-cart__submit-button:hover,
.theme-carrementnous .woocommerce button.single_add_to_cart_button.button:hover,
.theme-carrementnous a.add_to_cart_button.button:hover,
.theme-carrementnous .wp-block-button__link:hover {
    background-color: var(--yellow);
}

.theme-carrementnous .wc-block-cart__submit-button:active,
.theme-carrementnous .woocommerce button.single_add_to_cart_button.button:active,
.theme-carrementnous a.add_to_cart_button.button:active,
.theme-carrementnous .wp-block-button__link:active {
    color: black;
    background-color: var(--cyan);
    box-shadow: 0px 0px 1px black;
    transform: translate(1px,1px);
}

.theme-carrementnous .woocommerce a.add_to_cart_button.button.added {
    font-weight: normal;
    background-color: var(--green);
}
.theme-carrementnous .woocommerce a.add_to_cart_button.button.added::after {
    color: seagreen;
}

.theme-carrementnous .woocommerce a.added_to_cart {
    display: block;
    padding-top: 10px;
    color: blue;
    text-decoration: underline !important;
}

.theme-carrementnous .product_meta [rel="tag"] {
    border-radius: 10px;
    padding: 3px 9px;
    text-decoration: none;
}

.theme-carrementnous .product_meta [rel="tag"]:nth-child(10n+1) {
    background-color: var(--mandarin);
}
.theme-carrementnous .product_meta [rel="tag"]:nth-child(10n+2) {
    background-color: var(--rose);
}
.theme-carrementnous .product_meta [rel="tag"]:nth-child(10n+3) {
    background-color: var(--lemon);
}
.theme-carrementnous .product_meta [rel="tag"]:nth-child(10n+4) {
    background-color: var(--lime);
}
.theme-carrementnous .product_meta [rel="tag"]:nth-child(10n+5) {
    background-color: var(--horizon);
}
.theme-carrementnous .product_meta [rel="tag"]:nth-child(10n+6) {
    background-color: var(--plum);
}
.theme-carrementnous .product_meta [rel="tag"]:nth-child(10n+7) {
    background-color: var(--horizon);
}
.theme-carrementnous .product_meta [rel="tag"]:nth-child(10n+8) {
    background-color: var(--plum);
}
.theme-carrementnous .product_meta [rel="tag"]:nth-child(10n+9) {
    background-color: var(--brick);
}
.theme-carrementnous .product_meta [rel="tag"]:nth-child(10n+10) {
    background-color: var(--lemon);
}

.theme-carrementnous .woocommerce .product_meta [rel="tag"]:hover {
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.theme-carrementnous .woocommerce .quantity .qty {
    height: 30px;
}